{% extends 'base.html.twig' %}

{% block title %}Hello DashboardController!{% endblock %}

{% block body %}
    <div class="example-wrapper">
        <h1>This is a welcome message after successful login and auth</h1>
    </div>
    <p>This text is displayed for a standard user</p>

    <div class="card mb-3">
        <form action="{{ path('dashboard') }}" method="post">
            <div class="d-flex">
                <div class="card-header">
                    <label for="login">Change your login:</label>
                    <input id="login" name="login" type="text" />
                </div>
                <button type="submit" class="btn btn-primary">Change login</button>
            </div>

        </form>
    </div>


    {% if result is not null %}
        <h3>Query Results:</h3>
        <pre>{{ dump(result) }}</pre>
    {% endif %}

    <form action="{{ path('app_logout') }}" method="post">
        <button type="submit" class="btn btn-primary">Logout</button>
    </form>
{% endblock %}
